
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="includes/assets/img/favicon.ico">

    <title>Plantilla base</title>

    <!-- Bootstrap core CSS -->
    <link href="includes/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="includes/bootstrap-3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="includes/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="includes/bootstrap-3.3.6/css/theme.css" rel="stylesheet">

  </head>

  <body role="document" ng-app="main" ng-controller="mainController">

    <!-- Fixed navbar -->
    <!--Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li env="DESA" ng-class="{active:env=='INFO'}" ng-click="env='INFO'; envClass='info'; "><a href="#">INFO</a></li>
            <li env="TEST" ng-class="{active:env=='WARNING'}" ng-click="env='WARNING';  envClass='warning';"><a href="#">WARNING</a></li>
            <li env="PROD" ng-class="{active:env=='DANGER'}" ng-click="env='DANGER';  envClass='danger'; "><a href="#">DANGER</a></li>

            <li class="dropdown" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
                  
                  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">SEPARADOR</li>
                    <li><a href="#" ng-click="set('Detail Option 2','Option 2','NOT READY','Option 2');">Option 2</a></li>
                    <li><a href="#" ng-click="set('Detail Option 3','Option 3','NOT READY','Option 3');">Option 3</a></li> 

                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">SEPARADOR</li>
                    <li><a href="#" ng-click="set('Detail Option 5','Option 5','NOT READY','Option 5');" >Option 5</a></li>

                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Option 6</a>
                      <ul class="dropdown-menu">						
              						<li><a tabindex="-1" href="#" ng-click="set('Detail Option 6.1','Option 6.1','NOT READY','Option 6.1');">Option 6.1</a></li> 		
              						<li><a tabindex="-1" href="#" ng-click="set('Detail Option 6.2','Option 6,2','NOT READY','Option 6.2');">Option 6.2</a></li> 
                      </ul>
                    </li>

                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Option 7</a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#" ng-click="set('Detail Option 6.2','Option 6,2','NOT READY','Option 6.2');">Option 7.1</a></li>                        
                      </ul>
                    </li>

                  </ul>

            </li>
          </ul>         
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div class="row">
        <div class="col-sm-12">
          
          <div class="panel panel-{{envClass}}">
            <div class="panel-heading">
              <h2 class="panel-title">Estilo actual: <b>{{env}}</b></h2>
            </div>
            <div class="panel-body">
              <div ng-class="{hidden: accion==''}">
                <ul class="list-group">
                  <li class="list-group-item">Selected: <span class="label label-{{envClass}}">{{pais}}</span> </li>
                  <li class="list-group-item">Detail: <span class="label label-{{envClass}}">{{mp}}</span> </li>
                  <li class="list-group-item">Action: <span class="label label-{{envClass}}">{{textAccion}}</span> </li>          
                </ul>
                
              </div>              
            </div>
          </div>

        </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="includes/assets/js/vendor/jquery-2.2.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="includes/assets/js/vendor/jquery-2.2.3.min.js"><\/script>')</script>
    <script src="includes/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	 <script src='includes/assets/js/vendor/angular.min.js' type='text/javascript'></script>
   <script src="includes/assets/js/controllers/main.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="includes/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="includes/assets/js/html5shiv.min.js"></script>
      <script src="includes/assets/js/respond.min.js"></script>
    <![endif]-->
  </body>
</html>